@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --red: #EB0028;
}
html {
  height: 100%;
  width: 100%;
  background-color: var(--red);
  font-family: Inter;
  overflow-x: hidden;
  margin: 0;
}

canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  width: 100vmin;
  height: 100vmin;
  filter: blur(1.5vmin);
}

.timer {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  text-align: left;
  color: black;
  font-size: 10vmin;
  z-index: 3;
  background-color: white;
  border-radius: 100vmin;
  box-shadow: 0 0 2vmin white,0 0 2vmin white,0 0 2vmin white,0 0 2vmin white;
  height: 65vmin;
  width: 65vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timer > * {
  margin: 0;
}
#logo {
  max-width: 90%;
}
.content {
  position: absolute;
  top: calc(100vh - 15px);
  background-color: white;
  left: 0;
  width: 100%;
  border-top: 1px solid black;
  padding: 10px;
  box-sizing: border-box;
  min-height: 100%;
}
.c2 {
  top: 165px;
}
h1, h2, h3 {
  font-weight: 200;
  margin: 0;
}
a {
  color: black;
}

.content > .section {
  display: flex;
  flex-wrap: wrap;
}
.content > .section:nth-child(odd) {
  justify-content: end;
  text-align: right;
}
.section > * {
  flex: 1;
  min-width: 300px;
  box-sizing: border-box;
}
.section > .text {
  max-width: 500px;
}
.section > .image > img {
  max-width: 100%;
  border: 1px solid black;
  filter: grayscale();
  aspect-ratio: 3/1;
  object-fit: cover;
  object-position: bottom;
}
.section > * {
  padding: 10px;
}

.banner {
  position: fixed;
  z-index: 3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  top: 15px;
  width: calc(100% - 30px);
  padding: 0 20px;
  box-sizing: border-box;
  background-color: white;
  left: 15px;
  border-radius: 100vmin;
  text-align: center;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.manifest {
  width: 100%;
  border-top: solid 1px black;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: start;
}
.manifest > * {
  margin: 5px;
}

.expenseSheet {
  width: 100%;
  height: 430px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px black solid;
}

.pfp {
  border: solid 1px #000000;
  max-height: 100px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.speakers {
}
.speaker {
  display: flex;
  margin: 10px;
}
.speaker > div {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.speaker > div > * {
  margin: 0;
}